{{!-- <p>Name: {{name}}</p>
<p>Species: {{species}} </p>
<p>Breif Description: {{info}}</p>
<img src="{{image}}" alt="Image of the named elephant"> --}}

{{>nav}}

<div>
{{>refresh}}



<img src="{{image}}" alt="image of the character. ">

{{!-- 
<form action="/Elephants" method="post">
    <input type="number" name="number">
    <input type="submit" value="submit">
</form> --}}

<ul>
    {{#each data}}
        <li>{{@key}} : {{this}}</li>
        {{/each}}
</ul>
</div>