{{!-- {{!-- <P>Name: {{nameMeme}} </P>
<p>{{topText}}</p>
<p>{{bottomText}}</p> --}}

{{!-- <img src="{{imageMeme}}" alt="image of a meme"> --}}
 
 {{>nav}}

<div>
<form action="/memeGenerator" method="post">
    <input type="number" name="number">
    <input type="submit" value="submit">
</form>

<ul>
    {{#each data}}
        <li>{{@key}} : {{this}}</li>
    {{/each}}
</ul>

<img src="{{image}}" alt="image of the character. ">
</div>