{{!-- <p>Name: {{name}}</p>
<p>Species: {{species}}</p>
<p>Origin: {{origin}}</p>
<img src="{{image}}" alt="Character Image">
 --}}

<ul>
    {{#each response}}
        <li>{{@key}} : {{this}}</li>
        {{/each}}
</ul>

<form action="/RickAndMorty" method="post">
    <input type="number" name="number">
    <input type="submit" value="submit">
</form>